body {
    background-color: lightblue;
    text-align: center;
    padding-top: 50px;
}

.main-box {
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

input, select {
    margin-bottom: 15px;
    padding: 5px;
    width: 90%;
}

button {
    background-color: blue;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}